apiVersion: apps/v1
kind: Deployment
metadata:
  name: bar-deploy
  namespace: default
  labels:
    university: utn
    faculty: frre
spec:
  selector:
    matchLabels:
      app: bar
  replicas: 1
  template:
    metadata:
      labels:
        app: bar
    spec:
      containers:
        - name: bar
          image: docker.io/frredacs/bar:0.0.1
          ports:
            - containerPort: 8080
            - containerPort: 9090
          env:
            - name: GRPC_PORT
              value: "9090"
            - name: REST_PORT
              value: "8080"
---
apiVersion: v1
kind: Service
metadata:
  name: bar
  namespace: default
spec:
  type: ClusterIP
  selector:
    app: bar
  ports:
    - name: http-rest
      protocol: TCP
      port: 8080
      targetPort: 8080
    - name: grpc
      protocol: TCP
      port: 9090
      targetPort: 9090
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: foo-deploy
  namespace: default
  labels:
    university: utn
    faculty: frre
spec:
  selector:
    matchLabels:
      app: foo
  replicas: 1
  template:
    metadata:
      labels:
        app: foo
    spec:
      containers:
        - name: foo
          image: docker.io/frredacs/foo:0.0.1
          ports:
            - containerPort: 8080
            - containerPort: 9090
          env:
            - name: GRPC_PORT
              value: "9090"
            - name: REST_PORT
              value: "8080"
            - name: BAR_HOSTNAME
              value: "bar"
            - name: BAR_GRPC_PORT
              value: "9090"
---
apiVersion: v1
kind: Service
metadata:
  name: foo
  namespace: default
spec:
  type: ClusterIP
  selector:
    app: foo
  ports:
    - name: http-rest
      protocol: TCP
      port: 8080
      targetPort: 8080
    - name: grpc
      protocol: TCP
      port: 9090
      targetPort: 9090
---
apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: foo-bar-gateway
spec:
  selector:
    istio: ingressgateway # use istio default controller
  servers:
    - port:
        number: 80
        name: http
        protocol: HTTP
      hosts:
        - "*"
---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: foo-vs
spec:
  hosts:
    - "*"
  gateways:
    - foo-bar-gateway
  http:
    - match:
        - port: 80
      route:
        - destination:
            host: foo
            port:
              number: 9090
